@import url('./nullstyle');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');
@import url('./useful.less');

body {
	font-family: 'Inter', sans-serif;
}

.wrapper {
	width: 100%;
	min-height: 100vh;
	overflow: hidden;

	background-color: gray;
	color: black;
}

@import url('../components/startScreen/startScreen.less');
@import url('../components/button/button.less');