//Adaptive value
#adapt(@pcSize, @mobSize, @dependWidth: 1920) {
	@sizeDiff: @pcSize - @mobSize;
	@value: calc(@mobSize * 1px + (@pcSize - @mobSize) * ((100vw - 320px) / (@dependWidth - 320)));
}

//Grid columns parameters
@gridFrstCol: 33.333%;
@gridScndCol: 44.444%;
@gridThrdtCol: 22.222%;

//(sections margin)/2
@sectVerticalPadding: 6.25vh;
@sectHorizontPadding: 3vw;

//colors
@green: #367848;
@white: #f7f7f7;
@darkBlue: #131D29;